<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<div class="container">
    <div class="image-container">
        <img id="background-img" src="../images/backgroundCars.png">
    </div>
    <div class="content">
        <h1>Web de Marcas</h1>
        <ul>
            <li><a href="/marcas">Lista de Marcas</a><br></li>
            <li><a href="/modelos">Lista de Modelos</a><br></li>
            <li><a href="/marcas/insert">Insert Marcas</a></li>
            <li><a href="/modelos/insert">Insert Modelos</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/aboutMe">About Me</a></li>
            <li><a href="/api-docs">API Docs</a></li>
        </ul>
    </div>
</div>
</body>
</html>
