<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> UPDATE MARCA</h1>
<form style="width: 40%" action="/marcas/update" method="POST">

    <input id="id" type="hidden" name="id" value="<%= marca._id%>">

    <label for="id_nombre">Marca</label>
    <input id="id_nombre" type="text" name="nombre" value="<%= marca.nombre%>">

    <label for="fundadores">Fundadores</label>
    <input id="fundadores" type="text" name="fundadores" value="<%= marca.fundadores%>">

    <label for="fundacion">Fundacion</label>
    <input id="fundacion" type="text" name="fundacion" value="<%= marca.fundacion%>">

    <input type="submit" value="Update">
</form>
</body>
</html>